In [1]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset('exercise')

df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [ ]:
df.nlargest(3,'pulse') # pulse에서 가장 큰 값 3개 불러옴

    Unnamed: 0  id    diet  pulse    time     kind
89          89  30  no fat    150  30 min  running
77          77  26  no fat    143  30 min  running
80          80  27  no fat    140  30 min  running

In [12]:
df.isnull()

    Unnamed: 0     id   diet  pulse   time   kind
0        False  False  False  False  False  False
1        False  False  False  False  False  False
2        False  False  False  False  False  False
3        False  False  False  False  False  False
4        False  False  False  False  False  False
..         ...    ...    ...    ...    ...    ...
85       False  False  False  False  False  False
86       False  False  False  False  False  False
87       False  False  False  False  False  False
88       False  False  False  False  False  False
89       False  False  False  False  False  False

[90 rows x 6 columns]