In [1]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset('exercise')

df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [3]:
df.groupby(['time','kind'], as_index=False)['pulse'].mean().sort_values('pulse')

C:\Users\M\AppData\Local\Temp\ipykernel_9180\3201822598.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['time','kind'], as_index=False)['pulse'].mean().sort_values('pulse')

     time     kind  pulse
0   1 min     rest   90.2
3  15 min     rest   90.9
6  30 min     rest   91.4
1   1 min  walking   93.1
7  30 min  walking   95.9
2   1 min  running   96.1
4  15 min  walking   96.6
5  15 min  running  117.1
8  30 min  running  126.0

In [8]:
print(df['pulse'].std(), df['pulse'].mean() )
print(df['pulse'].std() + df['pulse'].mean() )

14.858470893849434 99.7
114.55847089384943

In [7]:
df.describe()

       Unnamed: 0         id       pulse
count   90.000000  90.000000   90.000000
mean    44.500000  15.500000   99.700000
std     26.124701   8.703932   14.858471
min      0.000000   1.000000   80.000000
25%     22.250000   8.000000   90.250000
50%     44.500000  15.500000   96.000000
75%     66.750000  23.000000  103.000000
max     89.000000  30.000000  150.000000